<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <!--link rel="stylesheet" type="text/css" href="debug.css"/-->
        <link rel="stylesheet" type="text/css" href="/css/scrollbar.css"/>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Witaj [[${#httpServletRequest.remoteUser}]]</title>
    </head>
    <body>
        <dialog id="modal-example">
            <article>
                <h3>Tabela Bilety</h3>
                <form th:action="@{/update}" method="post">
                    <div class="grid">
                        <input type="hidden" name="table" value="bilety">
                        <label for="numer_pasazera">
                            Numer pasażera
                            <input type="number" id="numer_pasazera" name="numer_pasazera" placeholder="Numer pasazera" required>
                        </label>
                    </div>
                    <div class="grid">
                        <label for="data_skasowania">
                            Data skasowania
                            <input type="date" id="data_skasowania" name="data_skasowania">
                        </label>
                        <label for="czas_skasowania">
                            Godzina skasowania
                            <input type="time" id="czas_skasowania" name="czas_skasowania">
                        </label>
                    </div>
                    <label for="rodzaj_biletu">Rodzaj biletu</label>
                    <select id="rodzaj_biletu" name="rodzaj_biletu" required>
                        <option value="" disabled selected hidden> Wybierz rodzaj biletu</option>
                        <option value="1">Bilet jednorazowy ULGOWY</option>
                        <option value="2">Bilet jednorazowy NORMALNY</option>
                        <option value="3">Bilet jednodniowy ULGOWY</option>
                        <option value="4">Bilet jednodniowy NORMALNY</option>
                        <option value="5">Bilet miesięczny ULGOWY</option>
                        <option value="6">Bilet miesięczny NORMALNY</option>
                    </select>
                <footer style="float:right">

                    <a th:href="@{#}"role="button" class="secondary" data-target="modal-example" onClick="toggleModal(event)">Anuluj</a>
                    <button type="submit" role="button" style="width: 110px">Dodaj</button>
                </footer>
                </form>
            </article>
        </dialog>
        <nav class="div-navbar" style="background-color: #141e26; padding: 15px; height: 120px; width: 100%; position:fixed; top: 0">
            <ul>
                <a th:href="@{/index}">
                    <img th:src="@{/img/logo.png}" alt="Logo" class="img-fluid" width="64px">
                    <li style="color:white"><b>Tramwajowe Przedsiębiorstwo Miejskie</b></li>
                </a>
            </ul>
            <ul>
                <li><a th:href="@{/index}">Strona Główna</a></li>
                <li> | </li>
                <li><a th:href="@{/line}">Rozkłady jazdy</a></li>
                <li>  </li>
                <li sec:authorize="isAnonymous()"><a  th:href="@{/login}" role="button">Zaloguj się</a></li>
                <li sec:authorize="hasRole('ADMIN')" ><a th:href="@{/main}" role="button">Witaj, administratorze!</b></a></li>
                <li sec:authorize="hasRole('CONTROLLER')" ><a th:href="@{/main}" role="button">Witaj, kontrolerze!</b></a></li>
                <li sec:authorize="hasRole('USER')" ><a th:href="@{/main}" role="button">Witaj, pasażerze!</b></a></li>
                <li sec:authorize="isAuthenticated()">
                    <form method="POST" th:action="@{/logout}" style="height:20px">
                        <button role="button" type="submit" value="Sign Out">Wyloguj się</button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="page-content" style="padding: 20px; margin: 30px; margin-top: 120px">
            <div class="admin-header" style="display:flex; justify-content: space-between; padding: 20px; padding-left: 60px">
                    <span style="font-size: 26pt; color: white"><b>Konsola administratora</b></span>
                    <div>
                        <span style="font-size: 26pt; color: white; padding-right: 30px ;"><b> Aktualna tabela:</b></span>
                    <details role="list" style="float:right;padding-right: 30px">
                        <summary aria-haspopup="listbox">Bilety</summary>
                        <ul role="listbox">
                            <li><a th:href="@{/main_admin/bilety}">Bilety</a></li>
                            <li><a th:href="@{/main_admin/przystanki}">Przystanki</a></li>
                            <li><a th:href="@{/main_admin/trasy}">Trasy</a></li>
                        </ul>
                    </details>
                    </div>
                    
            </div>
            <hr style="width: 98%; margin-left: auto; margin-right: auto;">
            <div class="tickets-header" style="padding: 20px;">
                <table>
                        <th>
                            <td><b>Numer biletu</b></td>
                            <td><b>Data skasowania</b></td>
                            <td><b>Numer pasażera</b></td>
                            <td><b>Numer rodzaju biletu</b></td>
                            <td><b>Edytuj</b></td>
                            <td><b>Usuń</b></td>
                        </th>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>2022-01-01 13:30</td>
                            <td>1</td>
                            <td>2</td>
                            <td><a th:href="@{#}" role="button" data-target="modal-example" onClick="toggleModal(event)">Edytuj</a></td>
                            <td><a th:href="@{/delete}" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>2022-02-01 18:30</td>
                            <td>3</td>
                            <td>1</td>
                            <td><a th:href="@{#}" role="button" data-target="modal-example" onClick="toggleModal(event)">Edytuj</a></td>
                            <td><a th:href="@{/delete}" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>2022-03-01 17:30</td>
                            <td>1</td>
                            <td>2</td>
                            <td><a th:href="@{#}" role="button" data-target="modal-example" onClick="toggleModal(event)">Edytuj</a></td>
                            <td><a th:href="@{/delete}" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>4</td>
                            <td>2022-03-09 17:50</td>
                            <td>3</td>
                            <td>3</td>
                            <td><a th:href="@{#}" role="button" data-target="modal-example" onClick="toggleModal(event)">Edytuj</a></td>
                            <td><a th:href="@{/delete}" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>5</td>
                            <td>2022-05-01 14:30</td>
                            <td>2</td>
                            <td>3</td>
                            <td><a th:href="@{#}" role="button" data-target="modal-example" onClick="toggleModal(event)">Edytuj</a></td>
                            <td><a th:href="@{/delete}" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a th:href="@{#}" role="button" data-target="modal-example" onClick="toggleModal(event)">Dodaj</a></td>
                        </tr>
                        </table>

            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/modal.js}"></script>
        <script type="text/javascript" th:src="@{/js/main_admin.js}"></script>
    </body>


</html>