<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <!--link rel="stylesheet" type="text/css" href="debug.css"/-->
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Witaj [[${#httpServletRequest.remoteUser}]]</title>
    </head>
    <body>
        <nav class="div-navbar" style="background-color: #141e26; padding: 15px">
            <ul>
                <img th:src="@{/img/logo.png}" alt="Logo" class="img-fluid" width="64px">
                <li><strong>Tramwajowe Przedsiębiorstwo Miejskie</strong></li>
            </ul>
            <ul>
                <li><a th:href="@{/index}"><u>Strona Główna</u></a></li>
                <li> | </li>
                <li><a th:href="@{/line}">Rozkłady jazdy</a></li>
                <li>  </li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}" role="button">Zaloguj się</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/main}" role="button">Witaj, <b>[[${#httpServletRequest.remoteUser}]]</b></a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" role="button">Wyloguj się</a></li>
            </ul>
        </nav>
        <div class="page-content">
            <div class="admin-header" style="display:flex; justify-content: space-between; padding: 20px; padding-left: 60px">
                    <span style="font-size: 26pt; color: white"><b>Konsola administratora</b></span>
                    <div>
                        <span style="font-size: 26pt; color: white; padding-right: 30px ;"><b> Aktualna tabela:</b></span>
                    <details role="list" style="float:right;padding-right: 30px">
                        <summary aria-haspopup="listbox">Bilety</summary>
                        <ul role="listbox">
                            <li><a>Bilety</a></li>
                            <li><a>Przystanki</a></li>
                            <li><a>Trasy</a></li>
                        </ul>
                    </details>
                    </div>
                    
            </div>
            <hr style="width: 98%; margin-left: auto; margin-right: auto;">
            <div class="tickets-header" style="padding: 20px;">
                <table>
                        <th>
                            <td><b>Numer biletu</b></td>
                            <td><b>Data skasowania</b></td>
                            <td><b>Numer pasażera</b></td>
                            <td><b>Numer rodzaju biletu</b></td>
                            <td><b>Edytuj</b></td>
                            <td><b>Usuń</b></td>
                        </th>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>2022-01-01 13:30</td>
                            <td>1</td>
                            <td>2</td>
                            <td><a href="#" role="button">Edytuj</a></td>
                            <td><a href="#" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>2022-02-01 18:30</td>
                            <td>3</td>
                            <td>1</td>
                            <td><a href="#" role="button">Edytuj</a></td>
                            <td><a href="#" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>2022-03-01 17:30</td>
                            <td>1</td>
                            <td>2</td>
                            <td><a href="#" role="button">Edytuj</a></td>
                            <td><a href="#" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>4</td>
                            <td>2022-04-01 11:30</td>
                            <td>4</td>
                            <td>1</td>
                            <td><a href="#" role="button">Edytuj</a></td>
                            <td><a href="#" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>5</td>
                            <td>2022-05-01 14:30</td>
                            <td>2</td>
                            <td>3</td>
                            <td><a href="#" role="button">Edytuj</a></td>
                            <td><a href="#" role="button">Usuń</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" role="button">Dodaj</a></td>
                        </tr>
                        </table>

            </div>
        </div>
    </body>
</html>