<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
    <title id="title">Witaj [[${#httpServletRequest.remoteUser}]]</title>
    </head>

    <body>
        <dialog id="modal-example">
            <article>
                <h3>Tabela Przystanki</h3>
                <form th:action="@{/updatePrzystanek}" th:object="${updatePrzystanek}" method="post">
                    <div class="grid">
                        <label for="numer_przystanku">
                            Numer przedsiębiorstwa
                            <input type="number" th:field="*{nr_przystanku}"id="numer_przystanku" name="numer_przystanku" placeholder="Numer przystanku">
                        </label>
                        <label for="nazwa_przystanku">
                            Nazwa przystanku
                            <input type="text" th:field="*{nazwa}" id="nazwa_przystanku" name="nazwa_przystanku" placeholder="Nazwa przystanku">
                        </label>
                    </div>
                <footer style="float:right">
                    <a th:href="@{#}"role="button" class="secondary" data-target="modal-example" onClick="toggleModal(event)">Anuluj</a>
                    <button type="submit" role="button" style="width: 110px">Dodaj</button>
                </footer>
                </form>
            </article>
        </dialog>
        <nav th:replace="fragments/navbar :: navbar-main"></nav>
        <div class="page-content" style="padding: 20px; margin: 30px; margin-top: 120px">
            <div class="admin-header" style="display:flex; justify-content: space-between; padding: 20px; padding-left: 60px">
                    <span style="font-size: 26pt; color: white"><b>Konsola administratora</b></span>
                    <div>
                        <span style="font-size: 26pt; color: white; padding-right: 30px ;"><b> Aktualna tabela:</b></span>
                    <details role="list" style="float:right;padding-right: 30px">
                        <summary aria-haspopup="listbox">Przystanki</summary>
                        <ul role="listbox">
                            <li><a th:href="@{/main_admin/bilety}">Bilety</a></li>
                            <li><a th:href="@{/main_admin/przystanki}">Przystanki</a></li>
                            <li><a th:href="@{/main_admin/trasy}">Trasy</a></li>
                        </ul>
                    </details>
                    </div>
                    
            </div>
            <hr style="width: 98%; margin-left: auto; margin-right: auto;">
            <div class="tickets-header" style="padding: 20px;">
                <table>
                        <th>
                            <td></td>
                            <td><b>Numer przystanku</b></td>
                            <td><b>Nazwa przystanku</b></td>
                            <td><b>Edytuj</b></td>
                            <td><b>Usuń</b></td>
                        </th>
                        <tr th:each = "przystanek : ${przystanekList}">
                            <td></td>
                            <td th:text="${przystanek.getField('nr_przystanku')}">Numer przystanku</td>
                            <td th:text="${przystanek.getField('nazwa')}">Nazwa przystanku</td>
                            <td>
                                <a th:href="@{#}" class="edit" role="button" th:value="${przystanek.getField('nr_przystanku')}"  data-target="modal-example" onFocus="setPlaceholders(event)" onClick="toggleModal(event)">Edytuj</a>
                            </td>
                            <td>
                                <form method="POST" th:object="${updatePrzystanek}" th:action="@{/deletePrzystanek}" style="height:30px">
                                    <input type="hidden" name="nr_przystanku" th:value="${przystanek.getField('nr_przystanku')}">
                                    <button role="button" class="delete" type="submit" value="Delete" style="width: 110px">Usuń</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a th:href="@{#}" role="button" th:value="${przystanekList[przystanekList.size() - 1].getField('nr_przystanku') + 1}" data-target="modal-example" onFocus="setPlaceholders(event)" onClick="toggleModal(event)">Dodaj</a></td>
                        </tr>
                        </table>

            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/modal.js}"></script>
        <script type="text/javascript" th:src="@{/js/przystanki.js}"></script>
    </body>


</html>