<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <!--link rel="stylesheet" type="text/css" href="debug.css"/-->
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Witaj [[${#httpServletRequest.remoteUser}]]</title>
    </head>
    <body>
    <nav class="div-navbar" style="background-color: #141e26; padding: 15px">
        <ul>
            <img th:src="@{/img/logo.png}" alt="Logo" class="img-fluid" width="64px">
            <li><strong>Tramwajowe Przedsiębiorstwo Miejskie</strong></li>
        </ul>
        <ul>
            <li><a th:href="@{/index}"><u>Strona Główna</u></a></li>
            <li> | </li>
            <li><a th:href="@{/line}">Rozkłady jazdy</a></li>
            <li>  </li>
            <li><a sec:authorize="isAnonymous()" th:href="@{/login}" role="button">Zaloguj się</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/main}" role="button">Witaj, <b>[[${#httpServletRequest.remoteUser}]]</b></a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" role="button">Wyloguj się</a></li>
        </ul>
    </nav>
        <div class="page-content">
            <div class="tickets-header" style="display:flex; justify-content: space-between; padding: 20px">
                    <span style="font-size: 26pt; color: white"><b>Twoje bilety</b></span>
                    <a href="buy.html" role="button" style="align: right; width: 64px; height: 62.5px;"> + </a>
            </div>
            <div class=ticket>
                <div class="ticket-container" style="display: flex; margin: 10px;">
                    <div class="qr-code">
                        <figure style="display: block; margin: auto; width: 256px;">
                            <img th:src="@{/img/qr.png}" alt="Kod QR" class="img-fluid">
                        </figure>
                    </div>
                    <div class="ticket-info" style="margin: 15px; width: 100%">
                        <span style="font-size: 20pt; color: white"><b>RODZAJ:</b> Bilet jednoprzejazdowy</span>
                        <div class="ticket-extra-info" style="display: flex;justify-content: space-between;">
                            <div class="ticket-zones" style="display: flex">
                                <figure style="display: block; padding-left: 10px; margin: auto; width: 64px;">
                                    <img th:src="@{/img/1.png}" alt="Kod QR" class="img-fluid">
                                </figure>

                            </div>
                            <div class="ticket-price" style="display: flex; content-align: left; text-align:right;">
                            
                                <span style="font-size: 40pt; color: white"><b>2.40</b></span>
                        </div>
                        </div>
                        
                        <div class="scan-ticet" style="display: flex; justify-content: center; margin-top: 35px">
                            <button style="width: 75%;">Skasuj bilet</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr style="width: 95%; margin-left: auto; margin-right: auto;">
            <div class=ticket>
                <div class="ticket-container" style="display: flex; margin: 10px;">
                    <div class="qr-code">
                        <figure style="display: block; margin: auto; width: 256px;">
                            <img th:src="@{/img/qr.png}" alt="Kod QR" class="img-fluid">
                        </figure>
                    </div>
                    <div class="ticket-info" style="margin: 15px; width: 100%">
                        <span style="font-size: 20pt; color: white"><b>RODZAJ:</b> Bilet 24-godzinny</span>
                        <div class="ticket-extra-info" style="display: flex;justify-content: space-between;">
                            <div class="ticket-zones" style="display: flex">
                                <figure style="display: block; padding-left: 10px; margin: auto; width: 64px;">
                                    <img th:src="@{/img/2.png}" alt="Kod QR" class="img-fluid">
                                </figure>
                            </div>
                            <div class="ticket-price" style="display: flex; content-align: left; text-align:right;">
                            
                                <span style="font-size: 40pt; color: white"><b>14.70</b></span>
                        </div>
                        </div>
                        
                        <div class="progress-bar" style="text-align: center;">
                            <span style="font-size: 10pt"><b>Pozostały:</b> 2 godziny 12 minut</span>
                            <progress value="132" max="1440"></progress>
                            <span style="font-size: 10pt"><b>Data skasowania:</b> 21.01.2022 13:59</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr style="width: 95%; margin-left: auto; margin-right: auto;">
            <div class=ticket>
                <div class="ticket-container" style="display: flex; margin: 10px;">
                    <div class="qr-code">
                        <figure style="display: block; margin: auto; width: 256px;">
                            <img th:src="@{/img/qr.png}" alt="Kod QR" class="img-fluid">
                        </figure>
                    </div>
                    <div class="ticket-info" style="margin: 15px; width: 100%">
                        <span style="font-size: 20pt; color: white"><b>RODZAJ:</b> Bilet miesięczny</span>
                        <div class="ticket-extra-info" style="display: flex;justify-content: space-between;">
                            <div class="ticket-zones" style="display: flex">
                                <figure style="display: block; padding-left: 10px; margin: auto; width: 64px;">
                                    <img th:src="@{/img/1.png}" alt="Kod QR" class="img-fluid">
                                </figure>
                                <figure style="display: block; padding-left: 10px; margin: auto; width: 64px;">
                                    <img th:src="@{/img/2.png}" alt="Kod QR" class="img-fluid">
                                </figure>
                            </div>
                            <div class="ticket-price" style="display: flex; content-align: left; text-align:right;">
                            
                                <span style="font-size: 40pt; color: white"><b>55.50</b></span>
                        </div>
                        </div>
                        
                        <div class="progress-bar" style="text-align: center;">
                            <span style="font-size: 10pt"><b>Pozostało:</b> 21 dni 3 godziny</span>
                            <progress value="507" max="720"></progress>
                            <span style="font-size: 10pt"><b>Data skasowania:</b> 21.01.2022 13:59</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr style="width: 95%; margin-left: auto; margin-right: auto;">
        </div>
    </body>
</html>