<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
    <title id="title">Error Page</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="page-content" style="padding: 20px; margin: 30px; margin-top: 120px">
    <div class="two-columns" style="display: flex; padding: 10px;justify-content: space-between;">
        <div class="article-container" style="width: 60%; ">
            <div>
                <p style="font-size:96px">Error 404 </p>
            </div>
            <div>
                <p style="font-size:48px">Wygląda na to że wsiadłeś do złego tramwaju i wylądowałeś właśnie tu ...</p>
            </div>
            <div>
                <a th:href="@{/main}" role="button">Wróc na stronę główną </b></a>
            </div>
        </div>
        <div class="image-container" style="width: 40%; display: flex;">
            <figure style="display: block; margin: auto; width: 512px;">
                <img th:src="@{/img/error.jpg}" alt="Error" class="img-fluid">
            </figure>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>