<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!--link rel="stylesheet" type="text/css" href="debug.css"/-->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Page</title>
</head>
<body>
<nav class="div-navbar" style="background-color: #141e26; padding: 15px">
    <ul>
        <img th:src="@{/img/logo.png}" alt="Logo" class="img-fluid" width="64px">
        <li><strong>Tramwajowe Przedsiębiorstwo Miejskie</strong></li>
    </ul>
    <ul>
        <li><a th:href="@{/index}"><u>Strona Główna</u></a></li>
        <li> | </li>
        <li><a th:href="@{/line}">Rozkłady jazdy</a></li>
        <li>  </li>
        <li sec:authorize="isAnonymous()"><a  th:href="@{/login}" role="button">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/main}" role="button">Witaj, <b>[[${#httpServletRequest.remoteUser}]]</b></a></li>
        <li sec:authorize="isAuthenticated()">
            <form method="POST" th:action="@{/logout}" style="height:20px">
                <button role="button" type="submit" value="Sign Out">Wyloguj się</button>
            </form>
    </ul>
</nav>
<div class="page-content" style="padding: 20px">
    <div class="two-columns" style="display: flex; padding: 10px;justify-content: space-between;">
        <div class="article-container" style="width: 60%; ">
            <div>
                <p style="font-size:96px">Error</p>
            </div>
            <div>
                <p style="font-size:48px">Tory były złe, wagony były złe, wszystko było złe  ...</p>
            </div>
            <div>
                <a th:href="@{/main}" role="button">Wróc na stronę główną </b></a>
            </div>
        </div>
        <div class="image-container" style="width: 40%; display: flex;">
            <figure style="display: block; margin: auto; width: 512px;">
                <img th:src="@{/img/error.jpg}" alt="Error" class="img-fluid">
            </figure>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>