<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
	<title id="title">Zaloguj się</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="page-content" style="padding: 20px; margin: 30px; margin-top: 120px; margin-left: 25%; margin-right: 25%">
		<form method="post" th:action="@{/login}">
			<label for="login">Nazwa użytkownika</label>

	      	<input type="text" id="login" name="username" placeholder="Wpisz nazwę użytkownika">


		  	<label for="password">Hasło</label>
		  	<input type="password" id="password" name="password" placeholder="Wpisz swoje hasło">
		  	<small th:if="${param.error}"}>BŁĄD: Złe hasło bądź nazwa użytkownika </small>
		  <button type="submit">Zaloguj się</button>

		</form>
	</div>
	<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>